$lightPurple: #CCCCFF;
$lightPink:  #F2BFBF;
$sand: #E6DADA;
$darkPurple: #8080FF;
.posts {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 150px;
      }