//Hier kommen alle html dateine rein
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>

    <body>
        <h1>This is the homepage!</h1>
        <img src="/images/TravelHer2ink.svg" />
    </body>

</html>