<html>
<head>
	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/css/style.css" type="text/css" />
</head>

<body class="container">
	<span>{{timestamp}}</span>
	<h1>{{name}}</h1>
	<img class="profile-image" src="{{image}}" />
	<h2>Company: {{company}}</h2>

	<h3>Languages</h3>
	<ol>
		{{#languages}}
		<li>
			{{.}}
		</li>
		{{/languages}}
	</ol>

	<form action="/addprofile" method="POST">
		<input type="text" name="name" placeholder="Name" /><br />
		<input type="text" name="username" placeholder="Username" /><br />
		<input type="text" name="image" placeholder="Image (/images/example.jpg)" /><br />
		<input type="text" name="company" placeholder="Company" /><br />
		<input type="text" name="languages" placeholder="Languages" /><br />
		<input type="submit" value="Add Profile" />
	</form>
</body>

<html>
